In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(0)
sqft = np.random.randint(500, 3000, size=100) 
price = 50 * sqft + 50000 + np.random.randint(-10000, 10000, size=100)

In [3]:
data = pd.DataFrame({'sqft': sqft, 'price': price})

In [4]:
data.head()

   sqft   price
0  2153  157829
1  1335  121004
2  1263  122321
3  2231  155855
4  1533  135644

In [5]:
data.shape

(100, 2)

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
lr_model = LinearRegression()

In [8]:
X = data.drop('price', axis =1)

In [9]:
y = data['price']

In [10]:
lr_model.fit(X,y)

LinearRegression()

In [12]:
val_to_predit = [[1200]]
lr_model.predict(val_to_predit)

C:\Users\asus\New folder\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([110961.69917099])

## Day2

In [13]:
df3=pd.read_csv('Bengaluru_House_Data.csv')

In [14]:
df3.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [15]:
df4=df3[['area_type','bath','balcony','price']]

In [16]:
df4.head()

              area_type  bath  balcony   price
0  Super built-up  Area   2.0      1.0   39.07
1            Plot  Area   5.0      3.0  120.00
2        Built-up  Area   2.0      3.0   62.00
3  Super built-up  Area   3.0      1.0   95.00
4  Super built-up  Area   2.0      1.0   51.00

In [17]:
dummy_df=pd.get_dummies(df4,columns=['area_type'])

In [18]:
dummy_df

,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,2.0,1.0,39.07,False,False,False,True
1,5.0,3.0,120.00,False,False,True,False
2,2.0,3.0,62.00,True,False,False,False
3,3.0,1.0,95.00,False,False,False,True
4,2.0,1.0,51.00,False,False,False,True
...,...,...,...,...,...,...,...
13315,4.0,0.0,231.00,True,False,False,False
13316,5.0,NaN,400.00,False,False,False,True
13317,2.0,1.0,60.00,True,False,False,False
13318,4.0,1.0,488.00,False,False,False,True
13319,1.0,1.0,17.00,False,False,False,True

In [19]:
df5=dummy_df.copy()

In [21]:
from sklearn.preprocessing import StandardScaler

In [22]:
sc= StandardScaler()

In [64]:
x=df5.drop('price',axis=1)
y=df5['price']

In [65]:
column_to_scaler=['bath','balcony']
df5[column_to_scaler]=sc.fit_transform(df5[column_to_scaler])
df5.head()

,bath,balcony,price,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,-0.503577,-0.715068,39.07,False,False,False,True
1,1.943588,1.732220,120.00,False,False,True,False
2,-0.503577,1.732220,62.00,True,False,False,False
3,0.312145,-0.715068,95.00,False,False,False,True
4,-0.503577,-0.715068,51.00,False,False,False,True

In [51]:

df5=df5.dropna()

In [52]:
df5.isna().sum()

bath                              0
balcony                           0
price                             0
area_type_Built-up  Area          0
area_type_Carpet  Area            0
area_type_Plot  Area              0
area_type_Super built-up  Area    0
dtype: int64

In [66]:
from sklearn.linear_model import LinearRegression

In [67]:
lr_model=LinearRegression()

In [68]:
from sklearn.model_selection import train_test_split

In [69]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2) # x-independent ,y-dependent

In [70]:
lr_model.fit(x_train,y_train)

LinearRegression()

In [71]:
lr_model.score(x_test,y_test)

0.1981985775769627

In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv('Bengaluru_House_Data.csv')

In [5]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [7]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [14]:
df1=df.copy()

In [17]:
df1=df1.drop('society',axis=1)

In [18]:
df1

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,550,1.0,1.0,17.00

In [19]:
df1.isna().sum()

area_type         0
availability      0
location          1
size             16
total_sqft        0
bath             73
balcony         609
price             0
dtype: int64

In [21]:
df1['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [22]:
df1.drop_duplicates()

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00

In [32]:
df1=df1.replace("4 Bedroom","4 BHK")
df1=df1.replace("3 Bedroom","3 BHK")

In [38]:
df1.tail(50)

,area_type,availability,location,size,total_sqft,bath,balcony,price
13270,Super built-up Area,Ready To Move,Shivaji Nagar,3 BHK,1226,2.0,2.0,60.00
13271,Super built-up Area,Ready To Move,Uttarahalli,2 BHK,1075,2.0,1.0,46.76
13272,Super built-up Area,Ready To Move,Thanisandra,2 BHK,1226,2.0,1.0,65.59
13273,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,1 BHK,510,1.0,1.0,22.00
13274,Super built-up Area,Ready To Move,Budigere,2 BHK,1153,2.0,2.0,60.00
13275,Plot Area,Ready To Move,Kothannur,4 BHK,1600,4.0,2.0,45.00
13276,Super built-up Area,Ready To Move,LB Shastri Nagar,2 BHK,1000,2.0,1.0,49.50
13277,Plot Area,Ready To Move,Kundalahalli Colony,7 Bedroom,1400,7.0,NaN,218.00
13278,Built-up Area,Ready To Move,Reliaable Tranquil Layout,2 BHK,1256,2.0,1.0,65.00
13279,Plot Area,Ready To Move,Vishwanatha Nagenahalli,6 Bedroom,1200,5.0,NaN,130.00
13280,Built-up Area,Ready To Move,Sarjapur,3 BHK,1425,3.0,2.0,57.00
13281,Plot Area,Ready To Move,Margondanahalli,5 Bedroom,1375,5.0,1.0,125.00
13282,Super built-up Area,18-Apr,Hosur Road,3 BHK,1919,3.0,2.0,117.00
13283,Super built-up Area,Ready To Move,Neeladri Nagar,3 BHK,2111,3.0,2.0,103.00
13284,Super built-up Area,Ready To Move,Bannerghatta Road,2 BHK,970,2.0,1.0,57.00
13285,Super built-up Area,Ready To Move,VHBCS Layout,2 BHK,1353,2.0,2.0,110.00
13286,Super built-up Area,Ready To Move,Jalahalli,3 BHK,1405,2.0,1.0,85.00
13287,Super built-up Area,Ready To Move,Gubbalala,2 BHK,1285,2.0,2.0,90.00
13288,Super built-up Area,18-May,Mahadevpura,2 BHK,1050,2.0,1.0,42.00
13289,Super built-up Area,Ready To Move,Hebbal,2 BHK,1349,2.0,1.0,96.80
13290,Super built-up Area,Ready To Move,Sarjapur Road,4 BHK,4050,2.0,1.0,450.00
13291,Plot Area,18-Jan,Weavers Colony,1 Bedroom,812,1.0,0.0,26.00
13292,Super built-up Area,18-Jul,Udayapur Village,3 BHK,1440,2.0,2.0,63.93
13293,Super built-up Area,Ready To Move,Sarjapur Road,4 BHK,2425,5.0,1.0,195.00
13294,Super built-up Area,Ready To Move,Sultan Palaya,4 BHK,2200,3.0,3.0,80.00
13295,Super built-up Area,18-Feb,Haralur Road,3 BHK,1810,3.0,2.0,112.00
13296,Super built-up Area,Ready To Move,Cox Town,2 BHK,1200,2.0,2.0,140.00
13297,Super built-up Area,Ready To Move,Electronic City,2 BHK,1060,2.0,1.0,52.00
13298,Super built-up Area,Ready To Move,Kenchenahalli,2 BHK,1015,2.0,2.0,60.00
13299,Super built-up Area,18-Dec,Whitefield,4 BHK,2830 - 2882,5.0,0.0,154.50
13300,Plot Area,Ready To Move,Hosakerehalli,5 Bedroom,1500,6.0,2.0,145.00
13301,Super built-up Area,Ready To Move,Kothanur,3 BHK,1454,3.0,3.0,71.50
13302,Super built-up Area,Ready To Move,Annaiah Reddy Layout,2 BHK,1075,2.0,2.0,48.00
13303,Plot Area,Ready To Move,Vidyaranyapura,5 Bedroom,774,5.0,3.0,70.00
13304,Super built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1187,2.0,2.0,40.14
13305,Carpet Area,Ready To Move,Hulimavu,1 BHK,500,1.0,3.0,220.00
13306,Plot Area,Ready To Move,Rajarajeshwari Nagara,4 BHK,1200,5.0,NaN,325.00
13307,Built-up Area,Ready To Move,Billekahalli,3 BHK,1805,3.0,3.0,134.00
13308,Built-up Area,Ready To Move,Bannerghatta Road,3 BHK,1527,3.0,1.0,142.00
13309,Super built-up Area,Ready To Move,Yeshwanthpur,3 BHK,1675,3.0,NaN,92.13
13310,Super built-up Area,Ready To Move,Rachenahalli,2 BHK,1050,2.0,2.0,52.71
13311,Plot Area,Ready To Move,Ramamurthy Nagar,7 Bedroom,1500,9.0,2.0,250.00
13312,Super built-up Area,Ready To Move,Bellandur,2 BHK,1262,2.0,2.0,47.00
13313,Super built-up Area,Ready To Move,Uttarahalli,3 BHK,1345,2.0,1.0,57.00
13314,Super built-up Area,Ready To Move,Green Glen Layout,3 BHK,1715,3.0,3.0,112.00
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,550,1.0,1.0,17.00

In [55]:
df1.isna().sum()

area_type        0
availability     0
location         0
size            16
total_sqft       0
bath             0
balcony          0
price            0
dtype: int64

In [47]:
df1['location']=df1['location'].fillna(method='ffill')

In [42]:
df1.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [50]:
df1['bath']=df1['bath'].fillna(df1['bath'].mean())

In [54]:
df1['balcony']=df1['balcony'].fillna(df1['balcony'].median())

In [57]:
df1.shape

(13320, 8)

In [65]:
df1=df1.dropna()

In [66]:

def bedroom_size(size):
    try:
        bed_size= size.split(" ")[0]
        return bed_size
    except:
        print(size)

In [69]:
df1["bedroom"]=df1["size"].apply(bedroom_size)
df1.head(10)

C:\Users\asus\AppData\Local\Temp\ipykernel_22324\2682857692.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["bedroom"]=df1["size"].apply(bedroom_size)

,area_type,availability,location,size,total_sqft,bath,balcony,price,bedroom
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07,2
1,Plot Area,Ready To Move,Chikka Tirupathi,4 BHK,2600,5.0,3.0,120.00,4
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00,3
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00,3
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00,2
5,Super built-up Area,Ready To Move,Whitefield,2 BHK,1170,2.0,1.0,38.00,2
6,Super built-up Area,18-May,Old Airport Road,4 BHK,2732,4.0,2.0,204.00,4
7,Super built-up Area,Ready To Move,Rajaji Nagar,4 BHK,3300,4.0,2.0,600.00,4
8,Super built-up Area,Ready To Move,Marathahalli,3 BHK,1310,3.0,1.0,63.25,3
9,Plot Area,Ready To Move,Gandhi Bazar,6 Bedroom,1020,6.0,2.0,370.00,6

In [70]:
df1['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [72]:
df1=df1.drop(['availability','size'],axis=1)

In [73]:
df1

,area_type,location,total_sqft,bath,balcony,price,bedroom
0,Super built-up Area,Electronic City Phase II,1056,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,1440,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,1200,2.0,1.0,51.00,2
...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453,4.0,0.0,231.00,5
13316,Super built-up Area,Richards Town,3600,5.0,2.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,1141,2.0,1.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4689,4.0,1.0,488.00,4
13319,Super built-up Area,Doddathoguru,550,1.0,1.0,17.00,1

In [74]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13304 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13304 non-null  object
 1   location    13304 non-null  object
 2   total_sqft  13304 non-null  object
 3   bath        13304 non-null  float64
 4   balcony     13304 non-null  float64
 5   price       13304 non-null  float64
 6   bedroom     13304 non-null  object
dtypes: float64(3), object(4)
memory usage: 831.5+ KB

In [93]:
def sqft(val):
    try:
        splitted_val=val.split('-')
        return (float(splitted_val[0])+float(splitted_val[1]))/2
    except:
        try:
            return float(val)
        except:
            return 'NaN'

In [94]:
df2=df1.copy()

In [95]:
df2['total_sqft']=df2['total_sqft'].apply(sqft)

In [96]:
df2.isna().sum()

area_type     0
location      0
total_sqft    0
bath          0
balcony       0
price         0
bedroom       0
dtype: int64

In [97]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13304 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13304 non-null  object
 1   location    13304 non-null  object
 2   total_sqft  13304 non-null  object
 3   bath        13304 non-null  float64
 4   balcony     13304 non-null  float64
 5   price       13304 non-null  float64
 6   bedroom     13304 non-null  object
dtypes: float64(3), object(4)
memory usage: 831.5+ KB

In [98]:
def dd(val):
    return float(val)

In [99]:
df2['total_sqft']=df2['total_sqft'].apply(dd)

In [100]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13304 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13304 non-null  object
 1   location    13304 non-null  object
 2   total_sqft  13258 non-null  float64
 3   bath        13304 non-null  float64
 4   balcony     13304 non-null  float64
 5   price       13304 non-null  float64
 6   bedroom     13304 non-null  object
dtypes: float64(4), object(3)
memory usage: 831.5+ KB

In [102]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13304 entries, 0 to 13319
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   area_type   13304 non-null  object
 1   location    13304 non-null  object
 2   total_sqft  13258 non-null  float64
 3   bath        13304 non-null  float64
 4   balcony     13304 non-null  float64
 5   price       13304 non-null  float64
 6   bedroom     13304 non-null  object
dtypes: float64(4), object(3)
memory usage: 831.5+ KB

In [103]:
df2.head(50)

,area_type,location,total_sqft,bath,balcony,price,bedroom
0,Super built-up Area,Electronic City Phase II,1056.00,2.0,1.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600.00,5.0,3.0,120.00,4
2,Built-up Area,Uttarahalli,1440.00,2.0,3.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521.00,3.0,1.0,95.00,3
4,Super built-up Area,Kothanur,1200.00,2.0,1.0,51.00,2
5,Super built-up Area,Whitefield,1170.00,2.0,1.0,38.00,2
6,Super built-up Area,Old Airport Road,2732.00,4.0,2.0,204.00,4
7,Super built-up Area,Rajaji Nagar,3300.00,4.0,2.0,600.00,4
8,Super built-up Area,Marathahalli,1310.00,3.0,1.0,63.25,3
9,Plot Area,Gandhi Bazar,1020.00,6.0,2.0,370.00,6
10,Super built-up Area,Whitefield,1800.00,2.0,2.0,70.00,3
11,Plot Area,Whitefield,2785.00,5.0,3.0,295.00,4
12,Super built-up Area,7th Phase JP Nagar,1000.00,2.0,1.0,38.00,2
13,Built-up Area,Gottigere,1100.00,2.0,2.0,40.00,2
14,Plot Area,Sarjapur,2250.00,3.0,2.0,148.00,3
15,Super built-up Area,Mysore Road,1175.00,2.0,2.0,73.50,2
16,Super built-up Area,Bisuvanahalli,1180.00,3.0,2.0,48.00,3
17,Super built-up Area,Raja Rajeshwari Nagar,1540.00,3.0,3.0,60.00,3
18,Super built-up Area,Ramakrishnappa Layout,2770.00,4.0,2.0,290.00,3
19,Super built-up Area,Manayata Tech Park,1100.00,2.0,2.0,48.00,2
20,Built-up Area,Kengeri,600.00,1.0,1.0,15.00,1
21,Super built-up Area,Binny Pete,1755.00,3.0,1.0,122.00,3
22,Plot Area,Thanisandra,2800.00,5.0,2.0,380.00,4
23,Super built-up Area,Bellandur,1767.00,3.0,1.0,103.00,3
24,Super built-up Area,Thanisandra,510.00,1.0,0.0,25.25,1
25,Super built-up Area,Mangammanapalya,1250.00,3.0,2.0,56.00,3
26,Super built-up Area,Electronic City,660.00,1.0,1.0,23.10,2
27,Built-up Area,Whitefield,1610.00,3.0,2.0,81.00,3
28,Super built-up Area,Ramagondanahalli,1151.00,2.0,2.0,48.77,2
29,Super built-up Area,Electronic City,1025.00,2.0,1.0,47.00,3
30,Super built-up Area,Yelahanka,2475.00,4.0,0.0,186.00,4
31,Super built-up Area,Bisuvanahalli,1075.00,2.0,1.0,35.00,3
32,Super built-up Area,Hebbal,1760.00,2.0,2.0,123.00,3
33,Super built-up Area,Raja Rajeshwari Nagar,1693.00,3.0,3.0,57.39,3
34,Built-up Area,Kasturi Nagar,1925.00,3.0,2.0,125.00,3
35,Super built-up Area,Kanakpura Road,700.00,2.0,1.0,36.00,2
36,Super built-up Area,Electronics City Phase 1,1070.00,2.0,1.0,45.50,2
37,Super built-up Area,Kundalahalli,1724.00,3.0,2.0,125.00,3
38,Super built-up Area,Chikkalasandra,1290.00,2.0,2.0,56.12,3
39,Built-up Area,Uttarahalli,1143.00,2.0,2.0,45.00,2
40,Built-up Area,Murugeshpalya,1296.00,2.0,2.0,81.00,2
41,Super built-up Area,Sarjapur Road,1254.00,3.0,2.0,38.00,3
42,Super built-up Area,Ganga Nagar,600.00,1.0,0.0,38.00,1
43,Plot Area,Yelahanka,660.00,1.0,0.0,48.00,1
44,Super built-up Area,Kanakpura Road,1330.74,2.0,2.0,91.79,2
45,Plot Area,HSR Layout,600.00,9.0,2.0,200.00,8
46,Super built-up Area,Doddathoguru,970.00,2.0,0.0,33.00,2
47,Super built-up Area,Whitefield,1459.00,2.0,1.0,94.82,2
48,Plot Area,KR Puram,800.00,1.0,1.0,130.00,2
49,Built-up Area,Himagiri Meadows,869.00,2.0,1.0,36.00,2

In [155]:
from sklearn.linear_model import LinearRegression

In [156]:
lr_modl=LinearRegression()

In [126]:
dummy_df2=pd.get_dummies(df2,columns=['area_type','location'])
dummy_df2

,total_sqft,bath,balcony,price,bedroom,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,location_ Anekal,...,location_rr nagar,location_sankeswari,location_sapthagiri Layout,location_sarjapura main road,location_singapura paradise,location_t.c palya,location_tc.palya,location_vinayakanagar,"location_white field,kadugodi",location_whitefiled
0,1056.0,2.0,1.0,39.07,2,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
1,2600.0,5.0,3.0,120.00,4,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1440.0,2.0,3.0,62.00,3,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1521.0,3.0,1.0,95.00,3,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
4,1200.0,2.0,1.0,51.00,2,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,3453.0,4.0,0.0,231.00,5,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13316,3600.0,5.0,2.0,400.00,4,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
13317,1141.0,2.0,1.0,60.00,2,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
13318,4689.0,4.0,1.0,488.00,4,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
13319,550.0,1.0,1.0,17.00,1,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False

In [149]:
df3=dummy_df2.copy()

In [150]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13304 entries, 0 to 13319
Columns: 1313 entries, total_sqft to location_whitefiled
dtypes: bool(1308), float64(4), object(1)
memory usage: 17.2+ MB

In [151]:
df3['area_type'].value_counts()

KeyError: 'area_type'

In [152]:
df3.columns

Index(['total_sqft', 'bath', 'balcony', 'price', 'bedroom',
       'area_type_Built-up  Area', 'area_type_Carpet  Area',
       'area_type_Plot  Area', 'area_type_Super built-up  Area',
       'location_ Anekal',
       ...
       'location_rr nagar', 'location_sankeswari',
       'location_sapthagiri Layout', 'location_sarjapura main road',
       'location_singapura paradise', 'location_t.c palya',
       'location_tc.palya', 'location_vinayakanagar',
       'location_white field,kadugodi', 'location_whitefiled'],
      dtype='object', length=1313)

In [153]:
df3.isna().sum()

total_sqft                       46
bath                              0
balcony                           0
price                             0
bedroom                           0
                                 ..
location_t.c palya                0
location_tc.palya                 0
location_vinayakanagar            0
location_white field,kadugodi     0
location_whitefiled               0
Length: 1313, dtype: int64

In [140]:
df3=df3.dropna()

In [142]:
X=df3.drop('price',axis=1)
y=df3['price']

In [143]:
from sklearn.model_selection import train_test_split

In [157]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [158]:
lr_modl.fit(x_train,y_train)

LinearRegression()

In [159]:
lr_modl.score(x_test,y_test)

0.5681779321246907

In [160]:
X.shape

(13258, 1312)

In [161]:
df2['location'].value_counts()

location
Whitefield           539
Sarjapur  Road       398
Electronic City      302
Kanakpura Road       273
Thanisandra          234
                    ...
Vidyapeeta             1
Maruthi Extension      1
Okalipura              1
Old Town               1
Abshot Layout          1
Name: count, Length: 1304, dtype: int64